<head>
  <% content_for :page_title, "Hotel Getaways" %>
</head>

<div class="container">
  <br>
  <h1 class="title has-text-centered mb-6">Welcome to Hotel Getaways!</h1>
  <p class="subtitle has-text-centered is-size-5">Your ultimate destination for hotel information</p>
  <br>

  <!-- Collection Navigation -->
  <h2 class="subtitle">Hotel Collection</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>City</th>
        <th>Country</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.address %></td>
          <td><%= hotel.city.name %></td> <!-- Display City using FK -->
          <td><%= hotel.city.country.name %></td> <!-- Display Country using FK -->
          <td><%= hotel.rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
