<div class="container">
  <br>
  <h1 class="title has-text-centered mb-6"><%= @city.name %></h1>
  <p class="subtitle has-text-centered is-size-5">City Details</p>
  <br>

  <div class="columns is-centered">
    <div class="column is-half">
      <table class="table is-fullwidth">
        <tbody>

          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @city.name %></td>
          </tr>

          <tr>
            <td><strong>Airport Code:</strong></td>
            <td><%= @city.airport_code %></td>
          </tr>

          <tr>
            <td><strong>Description:</strong></td>
            <td><%= @city.description %></td>
          </tr>

          <tr>
            <td><strong>Country:</strong></td>
            <td><%= @city.country.name %></td>
          </tr>

          <tr>
            <td><strong>Number of Hotels:</strong></td>
            <td><%= @hotel_count %></td>
          </tr>

          <tr>
            <td><strong>Hotels:</strong></td>
            <td>
              <% if @city.hotels.any? %>
                <ul>
                  <% @city.hotels.each do |hotel| %>
                    <li><%= link_to hotel.name, hotel_path(hotel) %></li>
                  <% end %>
                </ul>
              <% else %>
                No hotels found.
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
