<div class="container">
  <br>
  <h1 class="title has-text-centered mb-6"><%= @hotel.name %></h1>
  <p class="subtitle has-text-centered is-size-5">Hotel Details</p>
  <br>

  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <td><strong>Name:</strong></td>
            <td><%= @hotel.name %></td>
          </tr>

          <tr>
            <td><strong>Location:</strong></td>
            <td><%= @hotel.address %></td>
          </tr>

          <tr>
            <td><strong>City:</strong></td>
            <td><%= link_to @hotel.city.name, city_path(@hotel.city) %></td>
          </tr>

          <tr>
            <td><strong>Country:</strong></td>
            <td>
              <span class="flag-icon flag-icon-<%= @hotel.city.country.country_code.downcase %>"></span>
              <%= link_to @hotel.city.country.name, country_path(@hotel.city.country) %>
            </td>
          </tr>

          <tr>
            <td><strong>Rating:</strong></td>
            <td><%= @hotel.rating %>★</td>
          </tr>

          <tr>
            <td><strong>Description:</strong></td>
            <td>
              <% if @hotel.description.present? %>
                <%= @hotel.description %>
              <% else %>
                Enjoy your vacation getaway with us
              <% end %>
            </td>
          </tr>

          <tr>
            <td><strong>Location:</strong></td>
            <td><div id="map" style="width: 100%; height: 400px;"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>
<br>


<!-- Add Google Map script -->
<script>
  function initMap() {
    var coordinates = { lat: <%= @hotel.latitude %>, lng: <%= @hotel.longitude %> };

    var map = new google.maps.Map(document.getElementById('map'), {
      center: coordinates,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      map: map,
      position: coordinates,
      title: 'Hotel Location'
    });
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC58fJSk4hapZuCHFg6ZgNwsOKUYxDslpk&callback=initMap"></script>