<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <span class="icon mr-2"> <!-- Added mr-2 class for margin-right -->
        <i class="fas fa-umbrella-beach fa-lg"></i> <!--  beach icon -->
      </span>
      <strong class="is-size-4">Hotel Getaways</strong>
    </a>

    <!-- category navbar -->
    <div class="navbar-end is-flex">
      <a class="navbar-item" href="<%= root_path %>"> Home </a>
      <div class="navbar-divider"></div>

      <a class="navbar-item" href="<%= about_path %>"> About </a>
      <div class="navbar-divider"></div>

      <a class="navbar-item" href="<%= hotels_path %>"> Hotels </a>
      <div class="navbar-divider"></div>

      <a class="navbar-item" href="<%= attractions_path %>"> Attractions </a>
      <div class="navbar-divider"></div>

      <a class="navbar-item" href="<%= cities_path %>"> Cities </a>
      <div class="navbar-divider"></div>

      <a class="navbar-item" href="<%= countries_path %>"> Countries </a>
      <div class="navbar-divider"></div>

      <!-- Search form -->
      <div class="navbar-item">
        <%= form_with(url: hotels_path, method: :get, local: true, class: "field has-addons") do |form| %>
          <div class="control">
            <%= form.text_field :search, placeholder: "Search hotels...", class: "input", value: params[:search], aria: { label: 'Search hotels' } %>
          </div>
          <div class="control">
            <%= form.submit "Search", class: "button is-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</nav>
