<head>
  <% content_for :page_title, "Attractions | Hotel Getaways" %>
</head>

<div class="container">
  <br>
  <h1 class="title has-text-centered mb-6">Welcome to Hotel Getaways!</h1>
  <p class="subtitle has-text-centered is-size-5">Your ultimate destination for hotel information</p>
  <br>

  <!-- Collection Navigation -->
  <h2 class="subtitle">Attractions Collection</h2>
  <p>Want some ideas on where your next travel destination could be? Scroll down below to view the Top Tourist Attractions around the World!</p>

  <br>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Image</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @attractions.each do |attraction| %>
        <tr>
          <td><%= link_to attraction.name, attraction_path(attraction) %></td>
          <td><%= attraction.description %></td>
          <td><%= attraction.address %></td>
          <td><img src="<%= attraction.image %>" alt="<%= attraction.name %>" style="max-width: 100px; max-height: 100px;"></td> <!-- Display image -->
          <td><%= link_to attraction.city.name, city_path(attraction.city) %></td>

          <td>
            <!-- Display flag icon using Flag-icon-css library -->
            <span class="flag-icon flag-icon-<%= attraction.city.country.country_code.downcase %>"></span>
            <%= link_to attraction.city.country.name, country_path(attraction.city.country) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<br>